.shopping--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.shopping--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1rem;
  width: 80vw;
}

.shop--container {
  border: 2px solid black;
  min-height: 100vh;
  background: #1e1b1b none repeat scroll 0 0;
}
