@font-face {
  font-family: Ferrari;
  src: url(../../fonts/ferro_rosso/FerroRosso.ttf);
}

@font-face {
  font-family: Titillium;
  src: url(../../fonts/titillium_web/TitilliumWeb-Regular.ttf);
}

h1 {
  display: inline-block;
}

.ferrari--factory {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ferrari--factory img {
  max-width: 900px;
  max-height: 100%;
  display: block;
}

.about--container {
  padding: 2rem;
  text-align: justify;
  background: none 0% 0% repeat scroll rgb(30, 27, 27);
  color: white;
}

.about--name {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.about--name h1:nth-of-type(2) {
  font-family: Ferrari;
  margin-top: 28px;
}

.about--container p {
  font-family: Titillium;
  font-size: 17px;
}
