nav {
  display: flex;
  gap: 1rem;
  padding: 2rem;
  border: 1px solid black;
  justify-content: space-between;
  align-items: center;
  height: 10px;
  background-color: white;
  position: fixed;
  width: 100vw;
}

nav div:first-of-type {
  display: flex;
  gap: 1rem;
}

.logo--container {
  width: 100px;
  margin-right: 1.2rem;
}

.logo--container img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.active {
  color: rgba(0, 0, 0, 0.5);
}
